<div class="form-container">
  <form [formGroup]="angForm" novalidate class="example-container">
        <mat-form-field>
            <input matInput placeholder="Unit Name" name="unit_name" formControlName="unit_name" #unit_name>
        </mat-form-field>
        <mat-error *ngIf="angForm.controls['unit_name'].invalid && (angForm.controls['unit_name'].dirty || angForm.controls['unit_name'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['unit_name'].errors.required">
              Unit Name is required.
            </div>
        </mat-error>
        <mat-form-field>
            <input matInput placeholder="Unit Price" name="unit_price" formControlName="unit_price" #unit_price>
        </mat-form-field>
        <mat-error *ngIf="angForm.controls['unit_price'].invalid && (angForm.controls['unit_price'].dirty || angForm.controls['unit_price'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['unit_price'].errors.required">
            Unit Price is required.
          </div>
        </mat-error>
        <mat-form-field>
            <textarea matInput placeholder="Textarea " formControlName="textarea" #textarea></textarea>
        </mat-form-field>
        <mat-error *ngIf="angForm.controls['textarea'].invalid && (angForm.controls['textarea'].dirty || angForm.controls['textarea'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['textarea'].errors.required">
            Textarea is required.
          </div>
        </mat-error>
      <div class="button-row">
          <button type="submit" (click)="addAdUnit(unit_name.value, unit_price.value, textarea.value)" [disabled]="angForm.pristine || angForm.invalid"  mat-raised-button color="primary">Submit</button>
      </div>
  </form>
</div>
<mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
</mat-grid-list>
